name: Fetch Weather Data

on:
  schedule:
    - cron: '0 15 * * *' # 22:00 VN (15:00 UTC)
  workflow_dispatch:

jobs:
  fetch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: Install dependencies
        run: |
          pip install pandas requests

      - name: Check API key
        env:
          WEATHER_API_KEY: ${{ secrets.WEATHER_API_KEY }}
        run: |
          echo "API_KEY length: ${#WEATHER_API_KEY}"

      - name: Run fetch_data.py
        env:
          WEATHER_API_KEY: ${{ secrets.WEATHER_API_KEY }}
        run: |
          python src/fetch_data.py
